<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Library Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary me-2" href="/Home/Loan">Loans</a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary me-2" href="/Home/MyLoans">My Loans</a>
                    </li>
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                    <li class="nav-item">
                        <partial name="_RegisterPartial" />
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>